@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Hide the caret globally except for input areas */
* {
  caret-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
  caret-color: auto;
}

html {
  background-color: hsl(var(--b2));
}

body {
  background-color: inherit;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}
