@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Hide the caret globally except for input areas */
* {
  caret-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
  caret-color: auto;
}

@plugin "daisyui/theme" {
  name: "dracula";
  /* original oklch(28.822% 0.022 277.508)*/
  --color-base-100: oklch(35% 0.022 277.508);

  /* original oklch(26.805% 0.02 277.508) */
  --color-base-200: oklch(29.805% 0.02 277.508);

  /* original oklch(24.787% 0.019 277.508) */
  --color-base-300: oklch(24.787% 0.019 277.508);

  /* text lite ljusare */
  /*--color-base-content: oklch(97% 0.02 260);*/
}

